menu "Image target selection"

choice
	prompt "Image target selection"
	default CONSOLE_IMAGE_MINIMAL

config CONSOLE_IMAGE_MINIMAL
	bool "Console Image Minimal"
	help
	  Select this to build console image minimal(console-image-minimal) target.

config GSRD_CONSOLE_IMAGE
	bool "GSRD Console Image"
	help
	  Select this to build GSRD console image(gsrd-console-image) target.

config CORE_IMAGE_MINIMAL
	bool "Core Image Minimal"
	help
	  Select this to build core image minimal(core-image-minimal) target.

config SELECT_ALL_IMAGES
    bool "Select all image targets"
	help
	  Select this to build all image targets(console-image-minimal,gsrd-console-image & core-image-minimal).
endchoice

if CONSOLE_IMAGE_MINIMAL
config CONSOLE_IMAGE_MINIMAL_BUILD
    bool
    default y
endif

if GSRD_CONSOLE_IMAGE
config GSRD_CONSOLE_IMAGE_BUILD
    bool
    default y
endif

if CORE_IMAGE_MINIMAL
config CORE_IMAGE_MINIMAL_BUILD
    bool
    default y
endif

if SELECT_ALL_IMAGES
config CONSOLE_IMAGE_MINIMAL_BUILD
    bool
    default y
config GSRD_CONSOLE_IMAGE_BUILD
    bool
    default y
config CORE_IMAGE_MINIMAL_BUILD
    bool
    default y
endif

config KAS_INCLUDE_IMAGE
	string
	default "kas/image/console-image-minimal.yaml" if CONSOLE_IMAGE_MINIMAL
	default "kas/image/gsrd-console-image.yaml" if GSRD_CONSOLE_IMAGE
	default "kas/image/core-image-minimal.yaml" if CORE_IMAGE_MINIMAL
	default "kas/image/all-image-targets.yaml" if SELECT_ALL_IMAGES

endmenu
